       
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Now Available</h3>
                    <p>Download [AE] on Play Store and App Store</p>
                    <div class="app-logo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <a href="/"><h1>MON[AE]CHROME</h1></a>
                    <p>Center of high-fashion based on black-white-authentic colour.</p>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <a href=""><li>Twitter</li></a>
                        <a href=""><li>Instagram</li></a>
                        <a href=""><li>Youtube</li></a>
                        <a href=""><li>Facebook</li></a>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyrigt 2021 - MON[AE]CHROME</p>
        </div>
    </div>
<!--js for menu toggle menu-->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight ="0px"
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else
                {
                    MenuItems.style.maxHeight ="0px";
                }
        }
    </script>
        
</body>
</html>