<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MON[AE]CHROME</title>
    <link rel="stylesheet" href="/css/stylepro.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>

    <div class="header">
        <div class="container">
           <%- include('nav') %> 
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Give Your Day <br>A Classy Style</h1>
                <p>I will not stop wearing monochrome when they make rainbow colors.<br>Cause black-white is a way of life.</p>
                <a href="#explore" class="btn">Explore Now</a>
            </div>
            <div class="col-2">
				<img src="images/cover.png" class="hero-img">
            </div>
        </div>
    </div> 


    <%- body %> 
   

    <!-- Footer -->
    <%- include('footer') %> 