<div class="contact">
    <div class="box">
        <div class="icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>Address</h4>
            <h3>Jakarta, Indonesia<h3>
        </div>
    </div>
    <div class="box">
        <div class="icon">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h4>Email</h4>
            <h3>monoaechrome@gmail.com<h3>
        </div>
    </div> <div class="box">
        <div class="icon">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h4>Mobile</h4>
            <h3>+62-895-2375-2490<h3>
        </div>
    </div>
</div>
