<!---featured categorie--->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/shirt5.jpg">
            </div>
            <div class="col-3">
                <img src="images/shirt1.jpg">
            </div>
            <div class="col-3">
                <img src="images/long3.jpg">
            </div>
        </div>
    </div>
</div>
<!---featured product--->
<div class="small-container">
    <h2 class="title" id="explore">Featured Product</h2>
    <div class="row">
        <div class="col-4">
            <a href="/product-details"><img src="images/blazer2u.jpg"></a>
            <a href="/product-details"><h4>Slim Blazer Suit</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.850.000</p>
        </div>
        <div class="col-4">
            <a href="/product-details1"><img src="images/crew1u.jpg"></a>
            <a href="/product-details1"><h4>Basic Crewneck</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
        <div class="col-4">
            <a href="product-details2"><img src="images/hoodie3u.jpg"></a>
            <a href="product-details2"><h4>Clear Hoodie</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
            <a href="product-details3"><img src="images/jaket2u.jpg"></a>
            <a href="product-details3"><h4>Basic-Stylish Trucker</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.400.000</p>
        </div>
    </div>
    <h2 class="title">Latest Product</h2>
    <div class="row">
        <div class="col-4">
            <a href="product-details4"><img src="images/jogger1u.jpg"></a>
            <a href="product-details4"><h4>Basic Sweatpants</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
            <a href="product-details5"><img src="images/long4u.jpg"></a>
            <a href="product-details5"><h4>Basic Long-Sleeve Tee</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.200.000</p>
        </div>
        <div class="col-4">
            <a href="product-details6"><img src="images/shirt4u.jpg"></a>
            <a href="product-details6"><h4>Slim Fit Formal Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
            <a href="product-details7"><img src="images/short4u.jpg"></a>
            <a href="product-details7"><h4>Basic Short Twill</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.300.000</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="product-details8"><img src="images/tank2u.jpg"></a>
            <a href="product-details8"><h4>Basic Men Tank Top</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
        <div class="col-4">
            <a href="product-details9"><img src="images/sport4u.jpg"></a>
            <a href="product-details9"><h4>Basic Sport Top</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.300.000</p>
        </div>
        <div class="col-4">
            <a href="product-details10"><img src="images/hat2u.jpg"></a>
            <a href="product-details10"><h4>Basic Rounded Hat</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.200.000</p>
        </div>
        <div class="col-4">
            <a href="product-details11"><img src="images/sock4u.jpg"></a>
            <a href="product-details11"><h4>7 Pcs Basic Sock</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
    </div>
</div>
<!---offer-->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="foto/patu.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Availalbe for The Runner</p>
                <h1>Adidas x [AE]  </h1>
                <small>Make your run still classy as fast as Usain Bolt</small>
                <p><a href="cart" class="btn">Buy Now</a>
            </div>
        </div>
    </div>
</div>
<!---testimoni-->
<div class="testimoni">
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <i class="fa fa-quote-left"></i>
            <p>Harga bagus, pengiriman cepat, dan respon penjual baik</p>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <img src="foto/irpon.jpeg">
            <h3>Ivana</h3>
        </div>
        <div class="col-4">
            <i class="fa fa-quote-left"></i>
            <p>The most authentic monochrome fashion-centre in the town!</p>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <img src="foto/irpan.jpg">
            <h3>Irfan</h3>
        </div>
        <div class="col-4">
            <i class="fa fa-quote-left"></i>
            <p>So cool! The UI is so great!</p>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <img src="foto/ravi.jpg">
            <h3>Ravi</h3>
        </div>
    </div>  
</div>
</div>
<!--sponsor-->
<div class="brands">
<div class="small-container">
    <div class="row">
        <div class="col-5">
            <img src="foto/kenzo.png" width="120px">
        </div>
        <div class="col-5">
            <img src="foto/ck.png" width="120px" height: "100px">
        </div>
        <div class="col-5">
            <img src="foto/burberry.png" width="120px">
        </div>
        <div class="col-5">
            <img src="foto/hnm.png" width="120px">
        </div>
        <div class="col-5">
            <img src="foto/adidas.png" width="120px">
        </div>
        <div class="col-5">
            <img src="foto/nike.png" width="120px">
        </div>
        <div class="col-5">
            <img src="foto/lacoste.png" width="120px">
        </div>
        <div class="col-5">
            <img src="foto/mango.png" width="120px">
        </div>
    </div>
</div>
</div>