<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="images/blazer2u.jpg" width="100%" id="ProductImg">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="images/blazer1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/blazer3.jpg" width="100%" class="small-img">
                </div> 
                <div class="small-img-col">
                    <img src="images/blazer4.jpg" width="100%" class="small-img">
                </div> 
            </div>
           
        </div>
        <div class="col-2">
            <p>Home / Blazer</p>
            <h1>Slim Blazer Suit</h1>
            <h4>Rp. 850.000</h4>
            <select>
                <option>Select Size & Color</option>
                <option>L White</option>
                <option>M White</option>
                <option>S White</option>
                <option>XS White</option>
                <option>L Black</option>
                <option>M Black</option>
                <option>S Black</option>
                <option>XS Black</option>
            </select>
            <input type="number" value="1">
            <a href="/cart" class="btn">BUY</a>
            <h3>Product Details</h3>
            <p>Premium blazer suit by monochrome color make your day still classy and cozy</p>
        </div>
    </div>
</div>
<!--title-->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Product</h2>
        <a href="product"><p>View More</p></a>
    </div>
</div>
<!--product-->
<div class="small-container">
    
    <div class="row">
        <div class="col-4">
            <a href="product-details1"><img src="images/crew1u.jpg"></a>
            <a href="product-details1"><h4>Basic Crewneck</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
        <div class="col-4">
            <a href="product-details2"><img src="images/hoodie3u.jpg"></a>
            <a href="product-details2"><h4>Clear Hoodie</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
            <a href="product-details3"><img src="images/jaket2u.jpg"></a>
            <a href="product-details3"><h4>Basic-Stylish Trucker</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.400.000</p>
        </div>
        <div class="col-4">
            <a href="product-details4"><img src="images/jogger1u.jpg"></a>
            <a href="product-details4"><h4>Basic Sweatpants</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
    </div>
    
</div>