<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="images/jogger1u.jpg" width="100%" id="ProductImg">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="images/jogger2.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/jogger3.jpg" width="100%" class="small-img">
                </div> 
                <div class="small-img-col">
                    <img src="images/jogger4.jpg" width="100%" class="small-img">
                </div> 
            </div>
           
        </div>
        <div class="col-2">
            <p>Home / Pants</p>
            <h1>Basic Sweatpants</h1>
            <h4>Rp. 350.000</h4>
            <select>
                <option>Select Size & Color</option>
                <option>L White</option>
                <option>M White</option>
                <option>S White</option>
                <option>XS White</option>
                <option>L Black</option>
                <option>M Black</option>
                <option>S Black</option>
                <option>XS Black</option>
            </select>
            <input type="number" value="1">
            <a href="cart" class="btn">BUY</a>
            <h3>Product Details</h3>
            <p>Premium sweatpants by monochrome color make your day still classy and cozy</p>
        </div>
    </div>
</div>
<!--title-->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Product</h2>
        <a href="Product"><p>View More</p></a>
    </div>
</div>
<!--product-->
<div class="small-container">
    
    <div class="row">
        <div class="col-4">
            <a href="product-details5"><img src="images/long4u.jpg"></a>
            <a href="product-details5"><h4>Basic Long-Sleeve Tee</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.200.000</p>
        </div>
        <div class="col-4">
            <a href="product-details6"><img src="images/shirt4u.jpg"></a>
            <a href="product-details6"><h4>Slim Fit Format Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
           <a href="product-details7"><img src="images/short4u.jpg"></a>
            <a href="product-details7"><h4>Basic Short Twill</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.300.000</p>
        </div>
        <div class="col-4">
            <a href="product-details8"><img src="images/tank2u.jpg"></a>
            <a href="product-details8"><h4>Basic Men Tank Top</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
    </div>
    
</div>