<div class="small-container">
            
    <div class="row row-2">
        <h2>All Product</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by rating</option>
        </select>
    </div>


    <div class="row">
        <div class="col-4">
            <a href="product-details"><img src="images/blazer2u.jpg"></a>
            <a href="product-details"><h4>Slim Blazer Suit</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.850.000</p>
        </div>
        <div class="col-4">
            <a href="product-details1"><img src="images/crew1u.jpg"></a>
            <a href="product-details1"><h4>Basic Crewneck</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
        <div class="col-4">
            <a href="product-details2"><img src="images/hoodie3u.jpg"></a>
            <a href="product-details2"><h4>Clear Hoodie</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
            <a href="product-details3"><img src="images/jaket2u.jpg"></a>
            <a href="product-details3"><h4>Basic-Stylish Trucker</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.400.000</p>
        </div>
        <div class="col-4">
            <a href="product-details4"><img src="images/jogger1u.jpg"></a>
            <a href="product-details4"><h4>Basic Sweatpants</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
            <a href="product-details5"><img src="images/long4u.jpg"></a>
            <a href="product-details5"><h4>Basic Long-Sleeve Tee</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.200.000</p>
        </div>
        <div class="col-4">
            <a href="product-details6"><img src="images/shirt4u.jpg"></a>
            <a href="product-details6"><h4>Slim Fit Formal Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.350.000</p>
        </div>
        <div class="col-4">
            <a href="product-details7"><img src="images/short4u.jpg"></a>
            <a href="product-details7"><h4>Basic Short Twill</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.300.000</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="product-details8"><img src="images/tank2u.jpg"></a>
            <a href="product-details8"><h4>Basic Men Tank Top</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
        <div class="col-4">
            <a href="product-details9"><img src="images/sport4u.jpg"></a>
            <a href="product-details9"><h4>Basic Sport Top</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rp.300.000</p>
        </div>
        <div class="col-4">
            <a href="product-details10"><img src="images/hat2u.jpg"></a>
            <a href="product-details10"><h4>Basic Rounded Hat</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.200.000</p>
        </div>
        <div class="col-4">
            <a href="product-details11"><img src="images/sock4u.jpg"></a>
            <a href="product-details11"><h4>7 Pcs Basic Sock</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.250.000</p>
        </div>
    </div>

</div>